@import "../general.scss";
@import "../components/index/goods";
@import "../components/index/footer";
@import "../components/index/banner";

// header
.header {
  width: 50%;
  background: white;
  position: fixed;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  height: 100px;
  border-radius: 5px;
  z-index: 10;
}

.header .header__inner {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: rempx(20);
}

.header__logo {
  width: rempx(150);
  cursor: pointer;
}

.header__link {
  font-weight: 600;
  color: #333;
  position: relative;

  &:before {
    content: "";

    display: block;
    width: 0%;
    height: 2px;

    position: absolute;
    bottom: 0;
    right: 0;
    background-color: currentColor;

    transition: width var(--transition);
  }

  &:hover:before {
    width: 100%;
    left: 0;
    right: unset;
  }
}

// intro

.intro {
  position: relative;
  width: 100%;
  height: 100vh;
}

.intro__video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.intro__inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -15%);
  z-index: 5;
}

.intro__title {
  color: white;
  font-size: rempx(68);
  text-transform: uppercase;
  text-align: center;
}

.intro__button {
  background: #aa0129;
  color: white;
  padding: rempx(18) rempx(50);
  text-transform: uppercase;
  margin: 0 auto;
  display: block;
  margin-top: rempx(102);
}

.intro-decorative {
  position: absolute;
  z-index: 3;
  top: 100%;
  transform: translateY(-66%);
  width: 100%;
}

// History
.history {
  width: 100%;
  height: 100vh;
  display: flex;
  background: #5b595a;
  color: white;

  display: flex;
  margin-top: rempx(150);
}

.history__left {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.history__inner {
  max-width: 70%;
}

.history__title {
  font-size: rempx(42);
  text-transform: uppercase;
  margin-bottom: rempx(22);
}

.history__description {
  margin-bottom: rempx(22);
  font-weight: 300;
  letter-spacing: 0.1em;
  opacity: 0.7;
}

.history__button {
  color: white;
  padding: rempx(14) rempx(28);
  border: 1px solid white;
  font-size: rempx(14);
  text-transform: uppercase;
}

.history__right {
  height: 100%;
  width: 50%;
  background: url(/public/images/owner.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}

// Partners
.partners {
  margin-top: rempx(150);
  margin-bottom: rempx(150);
}

.partners__inner {
  max-width: 80%;
}

.partners__title {
  margin-bottom: rempx(32);
}

.partners__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  background: #adadad;
  gap: 1px;
}

.partners__item {
  max-width: rempx(100);
}

.partners__grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  //   height: 100%;
  aspect-ratio: 1/1;
  background: white;
}

// Process
.process {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url(/public/images/concern.webp);
  background-repeat: no-repeat;
  background-size: cover;
}

.process__info {
  width: rempx(500);
  padding: rempx(40);
  background: rgba($color: #fff, $alpha: 0.9);
  position: absolute;
  bottom: rempx(40);
  left: rempx(40);
}

.process__title {
  font-size: rempx(32);
  text-transform: uppercase;
  margin-bottom: rempx(24);
}

// Footer
.footer__socials {
  display: flex;
}

.footer__socials > * + * {
  margin-left: rempx(20);
}

.footer.home__footer {
  margin-top: 0 !important;
}

// Banner
.home__banner {
  margin-top: rempx(140);
}
