.header {
  padding-top: rempx(44);
  padding-bottom: rempx(44);
}

.header__inner {
  display: flex;
  align-items: center;
}

.header__logo {
  width: rempx(190);
  margin-right: rempx(22);
}

.header__search {
  flex: 1;
  margin-right: rempx(35);
}

.search {
  position: relative;
}

.search__input {
  width: 100%;
  border: 1px solid var(--cl-gray);
  border-radius: 4px;
  padding: rempx(12) rempx(18);
  padding-right: rempx(40);
  color: var(--cl-onyx);
}

.search__icon {
  width: rempx(16);
  height: rempx(16);

  position: absolute;
  top: 50%;
  right: rempx(18);
  transform: translateY(-50%);
}

.header__data-first {
  margin-right: rempx(75);
}

.header__data-key {
  color: var(--cl-onyx);
}

.header__data-tel {
  transition: opacity var(--transition);

  @include min(mobile) {
    &:hover {
      opacity: 0.4;
    }
  }
}

.header__cart {
  transition: opacity var(--transition);
  margin-left: rempx(49);
}

.header__cart .cart__icon {
  transition: opacity var(--transition);
}

.header__cart:hover .cart__icon {
  @include min(mobile) {
    opacity: 0.4;
  }
}

.cart {
  position: relative;
  display: flex;
}

.cart__icon {
  width: rempx(18);
  height: rempx(16);
}

.cart__amount {
  position: absolute;
  flex-shrink: 0;
  top: 0;
  right: 0;
  transform: translate(40%, -35%);

  width: rempx(15);
  height: rempx(15);

  background: var(--cl-red);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--cl-white);
  font-size: rempx(10);
}
