:root {
  --font: "Roboto";

  --cl-black: #000;
  --cl-gray: #c0c0c0;
  --cl-grey: var(--cl-gray);
  --cl-blue: #267cad;
  --cl-dark: #1a1f39;
  --cl-red: #ff0000;
  --cl-light-blue: #bbdff7;
  --cl-light: #f4f4f4;
  --cl-onyx: #606060;
  --cl-white: #fff;
  --cl-turq: #38999b;

  --transition: 0.3s ease;
}
