.h10 {
  font-size: rempx(10);
  line-height: rempx(20);
  font-weight: 500;
}

.h12 {
  font-size: rempx(12);
  line-height: rempx(20);
  font-weight: 500;
}

.h40 {
  font-size: rempx(40);
  line-height: 1;
  font-weight: 500;
}

.h20 {
  font-size: rempx(20);
  line-height: rempx(26);
  font-weight: 500;
}

.h14 {
  font-size: rempx(14);
  line-height: rempx(16);
  font-weight: 500;
}

.h60 {
  font-size: rempx(60);
  line-height: 1;
  font-weight: 500;
}

.h16 {
  font-size: rempx(16);
  line-height: rempx(20);
  font-weight: 500;
}
