.feedback {
  margin-top: rempx(200);

  @include mobile() {
    margin-top: rempx(100);
  }
}

.feedback__inner {
  display: flex;
  flex-direction: column;
  max-width: rempx(600);
}

.feedback__title {
  text-align: center;
}

.feedback__form {
  margin-top: rempx(48);
}

.form {
  display: flex;
  flex-direction: column;
  background: #f2f2f2;
  border-radius: rempx(12);
  padding: rempx(24) rempx(16);
  font-size: rempx(14);
}

.form__label {
  display: flex;
  flex-direction: column;
}

.form__input {
  background: var(--cl-white);
  padding: rempx(14);
  border-radius: rempx(8);
  margin-top: rempx(16);
  margin-bottom: rempx(24);

  @include mobile() {
    font-size: rempx(16);
  }
}

.form__textarea {
  resize: none;
  border: none;
  height: rempx(200);
  outline: none;
}

.form__button {
  margin: 0 auto;
  margin-top: rempx(12);
}

.button {
  background-color: rgb(8, 4, 32);
  color: rgb(224, 224, 224);
  padding: rempx(16);
  width: rempx(240);
  border-radius: rempx(8);
  font-size: rempx(18);

  transition: background-color var(--transition);
}

.button:hover {
  background-color: rgb(26, 20, 57);
}
