.footer {
  background-color: var(--cl-light);
  padding: rempx(24) 0;

  margin-top: rempx(72);
}

.footer__socials {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  @include mobile() {
    display: none !important;
  }
}

.footer__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__logo {
  @include mobile() {
    max-width: rempx(100);
  }
}

.footer__copy {
  @include mobile() {
    font-size: rempx(14);
  }
}
