.header {
  width: 50%;
  background: white;
  position: fixed;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  height: rempx(80);
  border-radius: 5px;
  z-index: 10;
}

.header.header__static {
  width: 100%;
  position: static;
  top: unset;
  left: unset;
  transform: unset;
}

.header .header__inner {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: rempx(20);
}

.header.header__static .header__inner {
  justify-content: center;
}

.header.header__static .header__inner > * + * {
  margin-left: rempx(60);
}

.header__logo {
  width: rempx(150);
  cursor: pointer;
}

.header__link {
  font-weight: 600;
  color: #333;
  position: relative;

  &:before {
    content: "";

    display: block;
    width: 0%;
    height: 2px;

    position: absolute;
    bottom: 0;
    right: 0;
    background-color: currentColor;

    transition: width var(--transition);
  }

  &:hover:before {
    width: 100%;
    left: 0;
    right: unset;
  }
}
